.home,
.specials,
.about,
.testimonials {
	padding: 0rem 15.625%;
}

.home {
	min-height: 25.375rem;
}

.specials {
	min-height: 100vh;
}

.testimonials {
	min-height: 36.875rem;
}

.about {
	min-height: 36.125rem;
}

.footer {
	background-color: var(--secondary-color-black);

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 26.0625rem;
}

@media (max-width: 1234px) {
	.home {
		background-color: var(--primary-color-green);
		padding-bottom: 1.2rem;
	}
}
