.wrapper {
	padding: 1.5625rem;
	max-width: 20rem;
	background-color: var(--secondary-color-grey);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.top img {
	width: 1rem;
	height: 1rem;
}
.mid {
	max-width: 10.9375rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.mid img {
	width: 4rem;
	height: 4rem;
}
.name {
	max-height: 4rem;
	overflow-y: hidden;
	word-break: break-all;
	font-weight: var(--highlight-text-weight);
	font-size: var(--regular-text-size);
}

.bot {
	max-width: 10.9375rem;
	max-height: 6.9rem;
}
