* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root,
header,
.nav-list,
main,
footer,
.footer-box {
	display: flex;
}
.nav-list,
main {
	justify-content: center;
	align-items: center;
}
#root {
	flex-direction: column;
	font-size: 16px;
}
header {
	position: fixed;
	width: 100vw;
	justify-content: space-between;
	min-height: 4.6875rem;
}
.nav-list {
}
main {
	flex-direction: column;
}
.hero,
.testimonials,
.about {
	min-height: 27.875em;
}
.highlights {
	min-height: 100vh;
}

footer {
	justify-content: center;
	gap: 3.875em;
}
.footer-box {
	gap: 5.375em;
}
