@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
	--link-color: #000;
	--nav-color: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Inter", sans-serif;
}
#root {
	flex-direction: column;
	font-size: 16px;
}
#root,
header,
.nav-list,
main,
footer,
.footer-box {
	display: flex;
}
.nav-list,
main {
	justify-content: center;
	align-items: center;
}
main {
	margin-top: 4.6875rem;
}
header {
	z-index: 1000;
	position: fixed;
	width: 100vw;
	justify-content: center;
	gap: 6em;
	min-height: 4.6875rem;
	background-color: var(--nav-color);
}
nav {
	display: flex;
	align-items: center;
}
.nav-list {
	align-items: center;
	list-style-type: none;
	gap: 2em;
}
.nav-list a {
	font-size: 0.9em;
	text-decoration: none;
	font-weight: 500;
	color: var(--link-color);
	transition: all 0.15s ease-in-out;
}
.nav-list a:hover {
	color: rgb(94, 94, 94);
}
main {
	flex-direction: column;
}
.hero,
.testimonials,
.about {
	min-height: 27.875em;
}
.highlights {
	margin-bottom: 5rem;
	height: 100%;
}

footer {
	background-color: black;
	justify-content: center;
	gap: 3.875em;
	min-height: 22.6875rem;
}
.footer-box {
	gap: 5.375em;
}
footer > img {
	width: 100%;
	max-width: 15.8125em;
	min-height: 18.3125em;
}
footer ul {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}
footer h3 {
	color: white;
	margin-bottom: 0.5em;
}
footer p {
	color: white;
}
footer a:hover {
	text-decoration: underline;
}
